
.page-header {
    margin: 30px 0 0 0;
}

label.car-label-1{
    width: 80px;
}
label.car-label-2{
    width: 100px;
}
div.car-div-1{
    width: 140px;
}
div.car-div-2{
    width: 190px;
}
div.car-div-3{
    width: 90px;
}