<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hust.parksys.dao.ParkInfoDao" >
  <resultMap id="BaseResultMap" type="hust.parksys.dto.ParkDetail" >
    
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="tollman" property="tollman" jdbcType="VARCHAR" />
    <result column="park_name" property="parkName" jdbcType="VARCHAR" />
    <result column="time_in" property="timeIn" jdbcType="TIMESTAMP" />
    <result column="time_out" property="timeOut" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="tolltype" property="tolltype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    car_num, tollman, park_name, time_in, time_out, duration
  </sql>
  <select id="selectByCarnum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from park_info
    where car_num = #{car_num,jdbcType=VARCHAR}
  </select>
  <select id="selectByTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from park_info
    where time_in <![CDATA[ >=  ]]> #{0} and time_in <![CDATA[ <=  ]]> #{1}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from park_info
  </select>
  
</mapper>