<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hust.parksys.dao.ParkInfoDao" >
   
   <select id="selectCountBycar" resultType="hust.parksys.entity.CommonMap" parameterType="java.lang.String" >
    SELECT car_num value1,count(*) value2 from 
    (SELECT * from park_info 
    WHERE time_in <![CDATA[ >= ]]> #{0} and time_in <![CDATA[ <= ]]> #{1}) as b 
    GROUP BY value1;
  </select>
  <select id="selectCountByDay" resultType="hust.parksys.entity.CountByDays" parameterType="java.lang.String" >
    SELECT str_to_date(DATE_FORMAT(time_in,'%Y%m%d'),'%Y%m%d') day,count(*) value from 
    (SELECT * from park_info WHERE time_in<![CDATA[ >= ]]> #{0} and time_in <![CDATA[ <= ]]> #{1}) as b  
    GROUP BY day ORDER BY day;
  </select>
  <select id="selectCountBycar1" resultType="hust.parksys.entity.CommonMap" parameterType="java.lang.String" >
    SELECT car_num value1,count(*) value2 from 
    (SELECT * from park_info 
    WHERE time_in <![CDATA[ >= ]]> #{0} and time_in <![CDATA[ <= ]]> #{1}) as b 
    GROUP BY value1 limit 0,20;
  </select>
  <select id="selectParkInfoByTime" resultType="hust.parksys.entity.ParkInfo" parameterType="java.lang.String" >
    SELECT car_num carNum,time_in timeIn,time_out timeOut,park_name parkName
    FROM park_info  
    WHERE time_in <![CDATA[ >= ]]> #{0} and time_in <![CDATA[ <= ]]> #{1}
  </select>
  <select id="selectParkTimeByCar" resultType="hust.parksys.entity.ParkTime" parameterType="java.lang.String" >
    SELECT time_in timeIn,time_out timeOut from park_info
    where car_num=#{0};
  </select>
</mapper>